.hero
  padding: 50px 0
  background-color: $secondary
  &-block
    display: flex
  &-text
    flex-basis: 50%
    margin-right: 10px
    &__title
      font-size: 41px
      +bold
      line-height: 55px
      margin-bottom: 15px
    &__subtitle
      display: inline-block
      font-size: 20px
      +bold
      line-height: 65px
      margin-bottom: 50px
  &-list
    margin: 0
    padding: 0
    &__item
      display: flex
      align-items: center
      margin-bottom: 24px
    &__image
      display: flex
      align-items: center
      justify-content: center
      min-width: 35px
      min-height: 35px
      border: 2px solid #ffd200
      border-radius: 50%
      margin-right: 29px
    &__text
      font-size: 14px
      line-height: 24px
      max-width: 240px
@media (max-width: 1200px)
  .hero
    &-block
      flex-direction: column
    &-text
      &__title
        max-width: 600px
    &-list
      margin-bottom: 38px
@media (max-width: 768px)
  .hero
    &-image
      width: 270px
    &-block
      width: 288px
    &-text
      &__title
        max-width: 300px
        font-size: 24px
        line-height: 1.2
        margin-top: -3px
        margin-left: 3px
        margin-bottom: 10px
      &__subtitle
        max-width: 200px
        font-size: 16px
        line-height: 1.2
        margin-bottom: 28px
        margin-left: 5px
    &-list
      &__item
        margin-left: 2px
        margin-bottom: 21px
      &__text
        font-size: 12px
        line-height: 1
      &__image
        margin-right: 15px

